/*  ------------ RESETS -----------  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

a{
    text-decoration: none;
    color:gray;
}

a:link{
    text-decoration: none;
    color:gray;  
}

a:visited{
    text-decoration: none!important;
}

a:hover{
    text-decoration: none;
    background-color: #5A5DEC;
    color:rgb(255, 255, 255);
    border-radius: 30px;
}

html{
    font-size: 62.5%;
}
/*  ----------- ESTILOS GENERALES  --------- */
body{
    font-size: 1.5rem;
    min-height: 100vh;
}

h1{
    font-family: 'poppins',
    sans-serif;
    font-weight: 600;
    font-size: 3rem;
    color: #2d2e71;
}

h4{
    font-family: 'poppins',
    sans-serif;
    font-weight: 600;
    color: #2d2e71;
}

p{
    font-family: 'poppins',
    sans-serif;
    font-weight: 400;
    color: gray;
}

li{
    font-family: 'poppins',
    sans-serif;
    font-weight: 400;
    list-style-type: none;
    color: gray;
}

.inline{
    display: inline-block;
    padding: 2rem;
}
/* -----------  HEADER  ----------- */
.header{
    height: 100px;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px; 
}

.header__logo{
    height: 100px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.header__navegacion {
    height: 100px;
    font-family: 'poppins',
    sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: row; 
    align-items:center;
    justify-content: flex-end;
}

.header__navegacion--inicio {
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;  
}

.header__navegacion--sobre{
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px; 
}

.header__navegacion--adopt{
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

.header__navegacion--event{
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

.header__navegacion--contact{
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: 600; 
    color: #5A5DEC; 
}

/*----------CONTENIDO-FORM-------*/
.container{
    background-color: #F8F8FF;
    display: grid;
    width: 100%;
    height: 1000px;
    /*grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);*/
    align-content: start;
    justify-content: space-around;
    justify-items: center;
    grid-template-areas: 
    'titulo'
    'form';
}

.container__titulo{
    grid-area: titulo;
    padding: 30px;
    padding-left: 50px;
    align-self:flex-start;
    text-align: center;
}

.form{
    padding-top: 30px;
}

.container__form{
    grid-area: form;
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;;
    background-color: white;
    grid-area: tab1;
    padding: 30px;
    box-shadow: 1px 1px 50px rgb(231, 231, 231);
    width: 700px;
    height: 800px;
    font-family: 'poppins',
    sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    color: #2d2e71;
    border:solid 5px #5A5DEC;
    border-radius: 30px;
}

legend{
    font-family: 'poppins',
    sans-serif;
    font-weight: 600;
    font-size: 1.7rem;
    color: #2d2e71;
}

label{
    padding-left: 10px;
}

input{
    background-color: #F8F8FF;
    font-family: 'poppins',
    sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    color: gray;
    padding: 10px;
    border-radius: 15px;
    border:none;
}

input:focus{
    width: 630px;
    height: 40px;
    font-size: 1.5rem;
}

textarea{
    background-color: #F8F8FF;
    padding: 10px;
    font-family: 'poppins',
    sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    color: gray;
    border-radius: 15px; 
    border:none;  
}

select{
    background-color: #F8F8FF;
    font-family: 'poppins',
    sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    color: gray;
    padding: 10px;
    border-radius: 15px;
    border:none;
}

option{
    background-color: #F8F8FF;
    font-family: 'poppins',
    sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    color: #2d2e71;
    padding: 10px;
    border-radius: 15px;
    border:none;
}

.estilo-boton{
    background-color:#5A5DEC;
    color: rgb(255, 255, 255);
    height: 40px;
    width: 130px;
    font-family: 'poppins',
    sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    margin: 0;
    border-style: none;
    border-radius: 30px;
    align-items: center;
}

input:hover{
    transform: translate(1px, -1px);
}

/* ---------------  FOOTER -----------  */
.footer{
    background-color:white;
    display: grid;
    width: 100%;
    height: 250px;
    align-content: center;
    justify-content: stretch;
    justify-items: center;
    grid-template-areas: 
    'sec1 sec2 sec3 sec4';
}

.footer__sec1{
    grid-area: sec1;
    padding: 10px;
}

.footer__sec2{
    grid-area: sec2;
    padding: 10px;
}

.footer__sec3{
    grid-area: sec3;
    padding: 10px;
}

.footer__sec4{
    grid-area: sec4;
    padding: 10px;
}